<app-toolbar
  [title]="title"
  *ngIf="(isLoggedIn$ | async)"
  (onMenuClick)="sidenav.toggle()"
></app-toolbar>

<mat-sidenav-container class="app-body h-100">

  <!-- Sidenav -->
  <mat-sidenav
    [style.width]="isHandset ? '85vw' : '40vh'"
    #sidenav
    opened="false"
    [mode]="isHandset ? 'over' : 'side'"
    fixedInViewport
  >
    <div *ngIf="(isLoggedIn$ | async)" class="container-fluid mt-5 pt-3 h-75">
      <app-sidenav 
        (onLogout)="logout(sidenav)"
        (onWriteCuriosity)="write($event)"
        (onNavChange)="navChange(sidenav)"
      ></app-sidenav>
    </div>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content class="h-100 pt-3" [class.mt-5]="(isLoggedIn$ | async)">
    <div class="container mt-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

