.app-body {
    background-image: url('https://raw.githubusercontent.com/lightzane/basic-kanban/main/src/assets/scattered-forcefields.svg');
    background-attachment: fixed;
    background-size: cover;
}